# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Bin files
*.bin

# Jupyter
.ipynb_checkpoints/

# Logs & checkpoints
logs/
*.log
training_runs/**/logs/
training_runs/**/checkpoints/
slurm*

# Data folders
data/responsivity_data/processed
data/spectra_data
results

# Plots
/plots_*/

# Symbolic Links
scripts/src

# IDE settings
.vscode/
