# Python bytecode
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Generated experiment outputs
experiments/

# Virtual environments
.venv/
venv/

# Bin files
*.bin

# Jupyter
.ipynb_checkpoints/

# Data folders
data/responsivity_data/processed
data/spectra_data
results

# Plots
/plots_*/

# Symbolic Links
scripts/src

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db
